body{
    background-color:#F0F8FF;
}

h3{
    color: black;
    text-align: center;
    font-family: "David", Times, serif;
}

.all_items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.item{
    padding: 10px;
    border: 1px solid #00dba0;
    position:relative;
    padding-bottom: 40px;
}
/*
#item_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  width: 30px;
}
*/
#homepage_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}


#create_item{
    font-size: 50;
    width: 135px;
    height: 60px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background: #0c0 url(image) 0 0 no-repeat;


}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

div.wrapper h1{
    text-align:center
    margin: 100px auto;
    font-size: 2.4em;
}

nav{
    justify-self: end;
}

nav li{
    display: inline-block;
    margin-left: 20px;
}

nav button{
    background: none;
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: lem;
}
