{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SWAP IT</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="{% static 'toolbar.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="navbar">
    <ul id="toolbar">
      <li><a href="{% url 'my_app_name:myprofile' %}" class="fa fa-user-circle" aria-hidden="true">My Profile</a></li>
      <li><a href="{% url 'my_app_name:all_items' %}" class="fa fa-shopping-cart" aria-hidden="true">Store</a></li>
      <li><a href="{% url 'my_app_name:add' %}" class="fa fa-plus">New Item</a></li>
      <li><a href="#Find" class="fa fa-asterisk" aria-hidden="true">Find</a></li>
      <li><a href="#contact" class="fa fa-envelope">Contact</a></li>
      <li style="float:right"><a href="{% url 'accounts:logout' %}"  class="fa fa-sign-out" aria-hidden="true" method="post">Logout</a></li>
      <li style="float:right"><a href="#about"  class="fa fa-info">About</a></li>

    </ul>
</div>

<h3><a href="{% url 'my_app_name:all_items' %}"><img src="{% static  'HomePage.png' %}" id="homepage_img">Home</a></h3>
    <div class="wrapper">
<!--        <nav id="logout">-->
<!--            <ul>-->
<!--                <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">-->
<!--                    {% csrf_token %}-->
<!--                    <input type="submit" value="Logout">-->
<!--                </form>-->
<!--            </ul>-->
<!--        </nav>-->
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>